<div class="game-details-container">
  @if (game$ | async; as game) {
    <mat-card class="game-details-card">
      <div class="image-gallery">
        <div class="main-image">
          <img [src]="selectedImage || game.images[0]" [alt]="game.title">
        </div>
        <div class="thumbnails">
          @for (image of game.images; track image) {
            <div class="thumbnail" (click)="selectedImage = image" [class.active]="selectedImage === image">
              <img [src]="image" [alt]="game.title">
            </div>
          }
        </div>
      </div>
      
      <mat-card-content>
        <div class="game-header">
          <h1 class="game-title">{{ game.title }}</h1>
          <!-- <mat-chip>{{ game.category }}</mat-chip> -->
        </div>

        <div class="game-specs">
          @if (game.area) {
            <div class="spec-item">
              <mat-icon>square_foot</mat-icon>
              <div class="spec-content">
                <span class="spec-label">المساحة</span>
                <span class="spec-value">{{ game.area }} متر </span>
              </div>
            </div>
          }
          @if (game.height) {
            <div class="spec-item">
              <mat-icon>height</mat-icon>
              <div class="spec-content">
                <span class="spec-label">الارتفاع</span>
                <span class="spec-value">{{ game.height }} متر</span>
              </div>
            </div>
          }
        </div>

        <p class="description">{{ game.description }}</p>

        <div class="game-info">
          <div class="price" *ngIf="currentRouteType === 'games'">{{ game.price }} ج.م</div>
          <div class="price" *ngIf="currentRouteType === 'church-games'">{{ game.churchPrice }} ج.م</div>
        </div>

        
        <div class="actions">
          <a mat-raised-button color="primary" class="buy-button" href="tel:01288988395">
            <mat-icon>phone</mat-icon>
            اتصل الآن
          </a>
          <button mat-stroked-button routerLink="/{{ currentRouteType }}">
            <mat-icon>arrow_back</mat-icon>
            العودة للألعاب
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  } @else {
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  }
</div> 